Repository derrick-fleming/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: markuplint, stylelint --fix, eslint --fix

Rendered initial components of index and app to check that app was successfully rendering and compiling packages.
  .eslintrc
  dist/index.html
  src/app.tsx
  src/index.tsx
Due: markuplint, eslint --fix

Created a navigation bar element and styled it using react bootstrap for the classes. Included the font: Oswald from Google for the website title.
  dist/css/styles.css
  dist/index.html
  package-lock.json
  package.json
  src/app.tsx
  src/components/nav.tsx
  src/pages/home.tsx
Due: markuplint, stylelint --fix, eslint --fix

Added hash routing to site and included a projects page with initial rendering of a card that displays information about final project - Park Advisor.
  dist/css/styles.css
  dist/index.html
  images/zion-stock.jpeg
  src/app.tsx
  src/components/nav.tsx
  src/index.tsx
  src/pages/projects.tsx
Due: markuplint, stylelint --fix, eslint --fix

Added 2nd project to projects page and created an 'about me' page with information taken from my Github.
  dist/css/styles.css
  images/animal-crossing.jpg
  src/app.tsx
  src/pages/about-me.tsx
  src/pages/home.tsx
  src/pages/projects.tsx
Due: stylelint --fix, eslint --fix

Added a contact page with attached links for LinkedIn and Github.
  src/app.tsx
  src/components/nav.tsx
  src/pages/contact.tsx
Due: eslint --fix

Added animation to webpage to make content fade-in and glow into the browser when user moves between different pages to make page feel more dynamic.
  dist/css/layout.css
  dist/css/styles.css
  src/pages/about-me.tsx
  src/pages/contact.tsx
  src/pages/home.tsx
  src/pages/projects.tsx
Due: stylelint --fix, eslint --fix

Updated animation of webpage to avoid changes in brightness and instead used scale for projects page. Had 'about me' page change animation between sections instead of appearing all at once.
  dist/css/styles.css
  src/pages/about-me.tsx
  src/pages/contact.tsx
  src/pages/home.tsx
  src/pages/projects.tsx
Due: stylelint --fix, eslint --fix

Updated page stylings by changing the background gradient to a blue/green scheme and updating the buttons and classes to reflect new colors.
  dist/css/styles.css
  src/pages/about-me.tsx
  src/pages/contact.tsx
  src/pages/home.tsx
  src/pages/projects.tsx
Due: stylelint --fix, eslint --fix

CHanged the background of project cards to be a navy instead of black and updated the button styling of the 'website' button on the projects tab to use an outline instead of btn-primary.
  dist/css/styles.css
  src/pages/projects.tsx
Due: stylelint --fix, eslint --fix

Updated file types for images to convert to 'webp' for faster load times. Adjusted some of the colors on projects page further.
  dist/css/styles.css
  images/animal-crossing.jpg
  images/animal-crossing.webp
  images/fleming-photo.jpg
  images/fleming-photo.webp
  images/zion-stock.jpeg
  images/zion-stock.webp
  src/pages/contact.tsx
  src/pages/home.tsx
  src/pages/projects.tsx
Due: stylelint --fix, eslint --fix

Added meta information to page including web title, description, and image.
  dist/index.html
Due: markuplint

Updated meta information of webpage by changing the favicon and adjusted the styling of page's projects and about-me to use a lighter blue scheme and adjusted the buttons accordingly
  dist/css/styles.css
  dist/index.html
  images/favicon.ico
  src/pages/about-me.tsx
  src/pages/contact.tsx
  src/pages/projects.tsx
Due: markuplint, stylelint --fix, eslint --fix

Updated the meta information of portfolio website.
  dist/index.html
Due: markuplint

Updated package.json to have 'main' be main.js instead of index.js
  package.json
Due: none

Created an express server route and adjusted files to reflect express server installation. Revised the React Router to use 'BrowserRouter' instead of 'HashRouter' now that using a server.
  .env.example
  .gitignore
  nodemon.json
  package-lock.json
  package.json
  server/index.js
  server/public/css/layout.css
  server/public/css/reset.css
  server/public/css/styles.css
  server/public/images/animal-crossing.webp
  server/public/images/favicon.ico
  server/public/images/fleming-photo.webp
  server/public/images/zion-stock.webp
  server/public/index.html
  server/static-middleware.js
  src/index.tsx
  webpack.config.js
Due: markuplint, stylelint --fix, eslint --fix

Updated pages for mobile compatiability by changing classes/paragraph formatting for better text alignment. Added a hook that will take users to top of page when in mobile view & clicking on a link.
  server/public/css/styles.css
  src/components/scroll-top.tsx
  src/index.tsx
  src/pages/about-me.tsx
  src/pages/home.tsx
  src/pages/projects.tsx
Due: stylelint --fix, eslint --fix

Added nav.tsx to commit as it was updated with Nav.Link and 'as' prop used.
  src/components/nav.tsx
Due: eslint --fix

Path conditions:
  markuplint: any of: *.html
  stylelint --fix: any of: *.css
  eslint --fix: any of: *.{ts,tsx}
